@import "~bootstrap-icons/font/bootstrap-icons.css";


#center {
  height: 800px;
  background-image: url('../../assets/Main_jpg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 30%;
  background-position-x: 40%;
  /*background-attachment: fixed;*/
  text-align: left;
}


#button {
  text-align:center;
  margin-top:7em;
}

#button button {
  background-image: linear-gradient(0deg, rgba(65,62,122,1) 0%, rgba(166,88,232,1) 100%);
  border:none;
  padding-top:1em;
  padding-bottom:1em;
}

#center h1 {

  color:white;
  text-align:center;
  margin-top: 2em;
  font-size:5em;
  text-shadow: 2px 2px #ff0000;
  font-weight: bold;

}
