<div class="container goscie">


  <div class="row featurette">
    <div class="col-xl-7">
      <h2 class="featurette-heading fw-normal lh-1">Czym jest Pogchamp 2022?</h2>
      <p class="lead">Pogchamp to jeden z największych w Polsce festiwali fantastyki, na którym każdy miłośnik gier,
        filmów, komiksów czy literatury poczuje, że znalazł swój skrawek nieba. To 56 godzin nieprzerwanej zabawy, czasu
        spędzonego na prelekcjach wybranych z niemal tysiąca punktów programu, graniu w gry, oglądaniu wystaw i
        fantastycznych wiosek oraz spotkaniach z twórcami fantastyki z całego świata! To również zakupy u 280 wystawców
        mających w asortymencie nie tylko gadżety ze znanych i mniej znanych uniwersów, ale też unikatowe,
        rękodzielnicze wyroby. Jednak przede wszystkim to Fantastyczne Miejsce Spotkań z magiczną atmosferą, którą
        możecie poczuć tylko tutaj i tylko przez trzy dni w roku!

      </p>
    </div>
    <div class="col-xl-5">
      <!--              <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      <img class="featurette-image img-fluid mx-auto" src="assets/main-page-img-another.jpg" alt="Uśmiechnięci ludzie na evencie">


    </div>
  </div>

  <hr class="featurette-divider">

</div>




