<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container goscie">

  <!-- Three columns of text below the carousel -->


  <!-- START THE FEATURETTES -->
  <h2 class="heading featurette-heading fw-normal lh-1">Kontakt</h2>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-5">
      <h2 class="featurette-heading fw-normal lh-1">Dane kontaktowe</h2>
      <p class="lead">Pogchamp Sp. z o.o.<br>
        aleja ks. bp. Władysława Bandurskiego 7<br>
        94-020 Łódź, Polska <br>
        <br>
        <i class="bi bi-envelope"></i>&nbsp;<a href="mailto:info@pogchamp.pl">info@pogchamp.pl</a><br>
        Współpraca: <a href="mailto:partnerzy@pogchamp.pl">partnerzy@pogchamp.pl</a>

      </p>
    </div>
    <div class="col-md-7">
      <!--        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      <!--      <img src="../../assets/rock.jpg">-->
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2469.6963983668065!2d19.423345133670324!3d51.75687498512554!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471a353986959d8f%3A0x36a97a288f4670f8!2sAtlas%20Arena!5e0!3m2!1spl!2spl!4v1654021580933!5m2!1spl!2spl"
        width="750" height="550" style="border:0;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  </div>

<!--  <hr class="featurette-divider">-->

</div>




