<div class="container kontenerek">

  <h2 class="heading featurette-heading main-heading fw-normal lh-1">Goście</h2>
  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-xxl-7 cl">
      <h2 class="featurette-heading fw-normal lh-1">Remigiusz Maciaszek </h2>
      <p class="lead">Rock Alone, bo pod takim pseudonimem znany jest właśnie Remigiusz Maciaszek to gamer z dużym bagażem doświadczenia. Zanim zaczął publikować na YouTube’ie zajmował się redagowaniem treści na stronie internetowej związanej z gaming’iem i polską sceną fantastyki. To był właśnie początek jego zawrotnej kariery na polskiej scenie YouTube’a. Jako piętnasty osiągnął swój pierwszy milion w Polsce, a wśród kanałów gaming’owych był jednym z pierwszych. Widzowie, którzy śledzą jego poczynania zawsze zwracają uwagę na podejście YouTubera do realizowanych materiałów. Nie ma się co dziwić, Remigiusz bardzo skrupulatnie prowadzi swój kanał. Każdy, nawet nowy widz, zawsze dostrzega charakterystyczny i niepowtarzalny styl prowadzenia vlogów.</p>
    </div>
    <div class="col-xxl-5">
      <!--        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      <img class="featurette-image img-fluid mx-auto" src="assets/rock.jpg" alt="Remigiusz Maciaszek">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-xxl-7 order-xxl-2">
      <h2 class="featurette-heading fw-normal lh-1">Xayoo</h2>
      <p class="lead">Marcin Majkut, znany w internecie i na scenie e-sportowej jako Xayoo, jest jednym z najpopularniejszych i najbardziej charakterystycznych polskich streamerów. Swoją popularność zawdzięcza swojej świetnej grze w League of Legends i występom w wielu profesjonalnych drużynach. Oprócz LoL'a lubi grać także w Tibię i CS:GO. Wokół jego postaci wyrosło wiele kontrowersji, a największą z nich jest konflikt z Dissem, który został oficjalnie zakończony przez obu twórców. Ksywka Xayoo była inspirowana bajką Naruto oraz animowanymi walkami na YouTube "Xiao Xiao". Widzowie uwielbiają go za jego cięty język, celne riposty i luźne podejście do życia.</p>
    </div>
    <div class="col-xxl-5 order-xxl-1">
      <!--        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      <img class="featurette-image img-fluid mx-auto" src="assets/xayoo.jpg" alt="Xayoo">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-xxl-7">
      <h2 class="featurette-heading fw-normal lh-1">Andrzej Sapkowski</h2>
      <p class="lead">Znany przede wszystkim jako twórca postaci Wiedźmina, Andrzej Sapkowski zaliczany jest – zaraz po Stanisławie Lemie – do najczęściej tłumaczonych polskich autorów fantastyki. Jego twórczość przełożono na blisko dwadzieścia języków. Największą popularność Andrzej Sapkowski zyskał jednak zbiorem opowiadań i pięciotomową sagą o Wiedźminie. Pierwsza odsłona tego cyklu miała miejsce w grudniu 1986 w miesięczniku „Fantastyka”.  Cykl wiedźmiński był również bazą do serii gier komputerowych, wydanej przez warszawskie studio CD Projekt RED. </p>
    </div>
    <div class="col-xxl-5">
      <!--        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>-->
      <img class="featurette-image img-fluid mx-auto" src="assets/sapek.jpg" alt="Andrzej Sapkowski">
    </div>
  </div>


</div>
