@import "~bootstrap-icons/font/bootstrap-icons.css";


#footer {

  background-image: linear-gradient(0deg, rgba(166, 88, 232, 1) 0%, rgba(72, 62, 122, 1) 100%);

}

#footer a {

  color: white !important;

}

#footer h5 {

  color: #c5c500;

}

.bottom-footer {
  color: white;
}


