<div class="container kontenerek">
  <h2 class="heading featurette-heading main-heading fw-normal lh-1">Atrakcje</h2>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Strefa gier planszowych</h2>
      <p class="lead">Zapraszamy do strefy gier planszowych na Pogchamp 2022! Olbrzymia strefa gier planszowych czeka na
        odważnych. Śmiałkowie dostaną okazję do zapoznania się z najnowszym tytułami, które trafią tak do weteranów
        planszówek, jak i casualowych graczy, czy zupełnych „świeżaków”.
        Pojawią się znane tytuły, zaprezentujemy zasady najnowszych gier. Będziecie mogli uczestniczyć w turniejach i
        konkursach z nagrodami.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <!--      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"-->
      <!--           xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"-->
      <!--           preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
      <!--        <rect width="100%" height="100%" fill="#eee"/>-->
      <!--        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>-->
      <!--      </svg>-->
      <img class="featurette-image img-fluid mx-auto" src="assets/planszowki.jpg" alt="Gry planszowe">
    </div>
  </div>



  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Cosplay</h2>
      <p class="lead">Ponad 150 polskich i zagranicznych cosplay’erów w najlepszym wydaniu – do zobaczenia wśród
        zwiedzających oraz na scenie podczas spektakularnego Cosplay Show! Spotkaj na żywo bohaterów z Twoich ulubionych
        gier.</p>
    </div>
    <div class="col-md-5">
<!--      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"-->
<!--           xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"-->
<!--           preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
<!--        <rect width="100%" height="100%" fill="#eee"/>-->
<!--        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>-->
<!--      </svg>-->
              <img class="featurette-image img-fluid mx-auto" src="assets/cosplay.jpg" alt="Cosplayerka">
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Turnieje e-sportowe</h2>
      <p class="lead">Niezwykłe emocje czekają zarówno na początkujących jak i zaawansowanych zawodników e-sportu.
        Spróbuj swoich sił nawet jeśli grasz tylko hobbystycznie. W turniejach m.in. Counter Strike: Global Ofensive,
        League of Legends, czy Fifa można wygrać atrakcyjne nagrody.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <!--      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"-->
      <!--           xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500"-->
      <!--           preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title>-->
      <!--        <rect width="100%" height="100%" fill="#eee"/>-->
      <!--        <text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>-->
      <!--      </svg>-->
      <img class="featurette-image img-fluid mx-auto" src="assets/esport.jpg" alt="Turniej esportowy">
    </div>
  </div>



</div>
